$primary-color: #F8F8F8;  
$text-color: #212121;     
$accent-color: #1C3D5A;   
$box-color : #F1F1F3;
$hover-color: darken($accent-color, 10%);

body {
    background-color: $primary-color;
    color: $primary-color;
    margin: 0;
}

h1{
    font-family: "Playfair Display";
    line-height: 1;
    font-weight: 500;
    color: $text-color;
    margin: 0;
}

h2 {
    color: $text-color;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
h3 {
    color: $text-color;
    margin: 0;
    font-family: "Playfair Display";
    font-size: 1.5rem;
    font-weight: 400;
    font-weight: bold;
    text-align: justify;
}

p {
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a, li { 
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px ;
}

// responsie 

@media screen and (max-width: 760px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    p, a {
        font-size: 1rem;
    }
}
