.slick-track {
  display: flex;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: overlay;
  margin: 0 auto;
  max-width: 1200px;
  
  .slick-slider {
    transition: transform 0.3s ease;
    div {
      padding: 1rem;
      text-align: center;

      img {
        width: 60%;
        height: 80%;
        object-fit: cover;
        border-radius: 8px;
        margin-top: 1rem;
        transition: transform 0.5s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }

      h3 {
        font-size: 1.2rem;
        text-align: center;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  .slick-dots {
    display: flex;
    li {
      margin: 0 5px;

      button {
        border: none;
        &:before {
          font-size: 10px;
          color: #888;
        }
      }

      &.slick-active button:before {
        color: #000;
      }
    }
  }
}


