@use './color' as *;

.container {
    background-color: $primary-color;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    .logo {
        width: 15%;
        margin: 10px;
    }

    .menu {
        display: flex;
        align-items: center;
        padding-right: 50px;

        ul {
          display: flex;
          gap: 2rem;
          list-style: none;
      
          li a {
            text-decoration: none;
            color: black;
            font-weight: 500;
          }
        }
      }
      
      .burger-btn {
        display: none;
      }
      
      // Responsive : pour les petits écrans
      @media screen and (max-width: 768px) {
        .burger-btn {
          display: block;
        }
      
        .menu {
          position: absolute;
          top: 100%;
          right: 1rem;
          background-color: white;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          display: none;
          flex-direction: column;
          padding: 1rem;
          z-index: 999;
      
          ul {
            flex-direction: column;
            gap: 1rem;
          }
      
          &.open {
            display: flex;
          }
        }
      }
}