@use './color' as *;

.container {
    background-color: $primary-color;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    .logo-lang-container {
      display: flex;
      .logo {
        margin: 10px;
        width: 90%;
        height: 70px;
      }
  
      .switch {
        background: transparent;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.2s ease;
      }
      .switch:hover {
        transform: scale(1.1);
      }
    }
    
    .menu {
      display: flex;
      align-items: center;
      justify-content: right;
      padding-right: 1.2rem;
      width: 100%;
      
        ul {
          display: flex;
          gap: 2rem;
          list-style: none;
      
          li a {
            text-decoration: none;
            color: black;
            font-weight: 500;
            font-family: "playfair display";
            text-transform: uppercase;
            letter-spacing:4px
          }
        }
      }
      
      .burger-btn {
        display: none;
      }
      
      // Responsive : pour les petits écrans

      @media screen and (max-width: 1050px) {
        a {
          font-size: 12px;
        }
      }
      
      @media screen and (max-width: 768px) {
        .burger-btn {
          display: flex;
          border: none;
          margin: 15px 10px;
          background-color: $primary-color;
        }
        .menu {
          position: absolute;
          top: 4rem;
          left: 4px;
          background-color: white;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          display: none;
          flex-direction: column;
          padding: 1rem;
          z-index: 999;
          width: 90%;
      
          ul {
            flex-direction: column;
            gap: 1rem;
            li {
              font-size: 12px;
            }
          }
      
          &.open {
            display: flex;
          }
        }
      }

      @media screen and (max-width: 768px) {
        .logo-lang-container .logo {
          width: 70%;
          height: 35px;
        }
      }
}